@font-face {
  font-family: "Inter";
  font-display: swap;
  font-weight: 100 900;
  src: url("./assets/fonts/Inter-VariableFont_slnt\,wght.ttf")
    format("truetype");
}
:root {
  --font-family-default: "Inter", sans-serif;
  --font-size: 0.9375rem;

  --Soft-orange: hsl(35, 77%, 62%);
  --Soft-red: hsl(5, 85%, 63%);
  --Off-white: hsl(36, 100%, 99%);
  --Grayish-blue: hsl(233, 8%, 79%);
  --Dark-grayish-blue: hsl(236, 13%, 42%);
  --Very-dark-blue: hsl(240, 100%, 5%);
  --transition-style: color 0.3s ease-in-out;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Remove default margin & padding */
* {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"] {
  list-style-type: none;
}

/* Make images easier to work with */
img,
svg,
picture {
  display: block;
  max-width: 100%;
  width: 100%;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}

body {
  font-family: var(--font-family-default);
  background-color: var(--Off-white);
  padding: 5em;
}
.grid-flow {
  display: grid;
  align-content: start;
  gap: 4rem;
}
.grid-flow[data-spacing="small"] {
  gap: 30px;
}

.nav-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-section .hamburger {
  display: none;
}
.nav-section .nav-lists {
  --gap: 30px;

  display: flex;
  gap: var(--gap);
}

.nav-lists li a {
  color: var(--Dark-grayish-blue);
  font-size: var(--font-size);
  transition: var(--transition-style);
}
.nav-lists li a:hover {
  color: var(--Soft-red);
}

/* SECTION 1 */
.section1,
.section2 {
  display: grid;
  grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);
  gap: 30px;
}

.content-info,
.other-news {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.headline h1 {
  font-weight: 800;
  line-height: 1;
  font-size: 3.5rem;
}
.headlines {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.headlines .headline-info {
  color: var(--Dark-grayish-blue);
}
.headlines button {
  align-self: flex-start;
  border: none;
  outline: none;
  background-color: var(--Soft-red);
  color: var(--Off-white);
  padding: 0.625rem 2.1875rem;
  letter-spacing: 2px;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}
.headlines button:hover {
  background-color: var(--Very-dark-blue);
  cursor: pointer;
}
.news-panel {
  background-color: var(--Very-dark-blue);
  padding: 20px;
}
.article {
  display: grid;
  grid-auto-flow: row;
  gap: 30px;
  color: var(--Off-white);
}
.article > h1 {
  font-weight: 700;
  color: var(--Soft-orange);
}
.article .article-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.article .article-content:nth-of-type(1),
.article .article-content:nth-of-type(2) {
  border-bottom: 1px solid var(--Off-white);
}
.article .article-content h3 {
  transition: var(--transition-style);
}
.article .article-content h3:hover {
  color: var(--Soft-orange);
  cursor: pointer;
}
.article .article-content p {
  margin-bottom: 30px;
  color: var(--Grayish-blue);
  font-size: var(--font-size);
}

/* SECTION 2 */
.advert-1 {
  display: flex;
  gap: 30px;
}
.advert {
  display: flex;
  gap: 20px;
}
.advert img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.advert .advert-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.advert-info > h1 {
  font-weight: 700;
  color: var(--Grayish-blue);
}
.advert-info > p {
  color: var(--Dark-grayish-blue);
  font-size: var(--font-size);
}
.advert-info > h2 {
  font-size: var(--font-size);
  font-weight: 800;
  color: var(--Very-dark-blue);
  transition: var(--transition-style);
}
.advert-info > h2:hover {
  color: var(--Soft-red);
  cursor: pointer;
}

@media (max-width: 41.25em) {
  body {
    padding: 1.5em;
  }
  .nav-section .nav-lists {
    display: none;
  }
  .nav-lists.active {
    position: fixed;
    bottom: 0;
    top: 0;
    right: 0;
    width: 75vw;
    flex-direction: column;
    padding: 100px 30px;
    color: var(--Very-dark-blue);
    background-color: var(--Off-white);
    box-shadow: -5px 10px 500px 63px rgba(0, 0, 0, 0.75);
    display: flex;
    transition: all 0.3s ease-in;
  }

  .nav-section .hamburger {
    display: flex;
    cursor: pointer;
    z-index: 999;
  }
  .section1,
  .section2 {
    grid-auto-flow: row;
    grid-template-columns: repeat(1, 1fr);
  }

  .content-info {
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .headlines {
    gap: 30px;
  }
  .advert img {
    width: 100%;
  }
  .advert-1 {
    flex-direction: column;
  }
}
